@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
}

* {
    color: #e0e0e0;
    font-family: 'NanumBarunGothic';
    font-size: medium
}

body {
    display: flex;
    background-color: #303030;
}

button {
    background-color: #303030;
    border-style: solid;
    border-color: #e0e0e0;
}

#sim {
    border-style: solid;
    margin-right: 5px;
}