@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    color: #e0e0e0;
    font-family: 'Nanum Gothic';
    font-size: medium;
}

body {
    display: flex;
    background-color: #303030;
}

button {
    background-color: #303030;
    border-style: solid;
    border-radius: 5px;
    border-color: #e0e0e0;
}

#sim {
    border-style: solid;
    margin-right: 5px;
}

#rules {
    display: flex;
}

#birth {
    margin-right: 50px
}